.nav-pane {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.logo {
  font-size: 1.6rem;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70vw;
  display: grid;
  place-items: center;
  background-color: #112240;
  transform: translateX(100%);
  transition: all 0.3s ease;
  z-index: 5;
}

nav.menu-open {
  transform: translateX(0);
}

body:has(.menu-open) {
  overflow: hidden;
}

.backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: 3;
}
