nav ul {
  height: fit-content;
  padding: 2rem;
  display: grid;
  gap: 2rem;
  margin-bottom: -30%;
}

li a {
  display: grid;
  gap: 0.5rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}

li a .number {
  color: rgb(var(--foreground-light-green));
}

@media (min-width: 768px) {
  nav ul {
    height: unset;
    padding: unset;
    display: flex;
    gap: 2rem;
    margin-bottom: 0;
  }

  li a {
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
  }

  nav button {
    font-size: 0.8rem;
    padding: 0.6rem 1.6rem;
    border-radius: 4px;
    margin-left: 1rem;
  }
}

@media (min-width: 1080px) {
  nav ul {
    gap: 2.4rem;
  }
}
