ul {
  height: fit-content;
  padding: 2rem;
  display: grid;
  gap: 2rem;
  margin-bottom: -30%;
}

li a {
  display: grid;
  gap: 0.5rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}

li a .number {
  color: rgb(var(--foreground-light-green));
}
