.sticks {
  background-color: transparent;
  display: grid;
  gap: 0.6rem;
}

.sticks:hover {
  cursor: pointer;
}

.sticks > * {
  height: 2px;
  width: 8px;
  background-color: rgb(var(--foreground-light-green));
  margin-left: auto;
  transition: all 0.4s ease;
}

.stick-1 {
  width: 2.3rem;
}

.stick-2 {
  width: 1.8rem;
}
.stick-3 {
  width: 1.2rem;
}

.menu-open .stick-1 {
  transform: translateY(0.7rem) rotate(405deg);
}

.menu-open .stick-2 {
  opacity: 0;
}

.menu-open .stick-3 {
  width: 2.3rem;
  transform: translateY(-0.7rem) rotate(-405deg);
}

@media (min-width: 768px) {
  .sticks {
    display: none;
  }
}
