#study {
  margin-top: 1rem;
  padding-top: 1rem;
  max-width: 1200px;
  margin: 1rem auto;
}

.certs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cert {
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 3rem;
  width: 90%;
  height: auto;
  padding: 6rem 2rem;
  margin: 0 auto;
  border-radius: 40px;
  border: 1px solid transparent;
}

.cert:nth-child(odd) {
  border-right: 1px solid rgb(var(--foreground-light-green));
  border-bottom: 1px solid rgb(var(--foreground-light-green));
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.cert:nth-child(even) {
  border-left: 1px solid rgb(var(--foreground-light-green));
  border-bottom: 1px solid rgb(var(--foreground-light-green));
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cert:nth-child(odd) {
  margin-right: auto;
}

.cert:nth-child(even) {
  flex-direction: row-reverse;
  margin-left: auto;
}

.main-cert {
  height: auto;
  width: 30%;
}

.cert-text {
  width: 45%;
}

.cert-text .text {
  font-size: 1rem;
}

.mini-certs {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  
}

.cert:nth-child(odd) .mini-certs {
  transform: translateX(30px);
}

.cert:nth-child(even) .mini-certs {
  transform: translateX(-130px);
}

.mini-certs .g-img {
  width: 70px;
  height: 80px;
  position: absolute;
  bottom: 0;
}

.g-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.g-img:nth-child(1) {
  transform: translate(0px, -15px);
  z-index: 3;
}

.g-img:nth-child(2) {
  transform: translate(-10px, -10px);
  transition-delay: 100ms;
  z-index: 2;
}

.g-img:nth-child(3) {
  transform: translate(10px, -10px);
  transition-delay: 150ms;
  z-index: 2;
}

.g-img:nth-child(4) {
  transform: translate(-20px, -5px);
  transition-delay: 300ms;
  z-index: 1;
}

.g-img:nth-child(5) {
  transform: translate(20px, -5px);
  transition-delay: 400ms;
  z-index: 1;
}

.mini-certs:hover .g-img:nth-child(1) {
  transform: translate(0px, -10px);
  z-index: 3;
}

.mini-certs:hover .g-img:nth-child(2) {
  transform: rotate(-10deg) translate(-10px, -50px);
  z-index: 2;
}

.mini-certs:hover .g-img:nth-child(3) {
  transform: rotate(10deg) translate(10px, -50px);
  z-index: 2;
}

.mini-certs:hover .g-img:nth-child(4) {
  transform: rotate(-45deg) translate(-25px, -60px);
  z-index: 1;
}

.mini-certs:hover .g-img:nth-child(5) {
  transform: rotate(45deg) translate(25px, -60px);
  z-index: 1;
}

@media (max-width: 1300px) {
  #study {
    width: 80vw;
  }

  .mini-certs .g-img {
    width: 6vw;
    height: 8vw;
  }
}
