.switcher {
  margin: 1rem auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.arrow {
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.arrow:hover {
  color: rgb(var(--foreground-light-green));
  cursor: pointer;
}

.mid-arrow {
  width: 20px;
  height: 14px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid rgb(var(--foreground-light-green));
}
