button {
  background-color: transparent;
  border: 1px solid rgb(var(--foreground-light-green));
  border: 1px solid rgb(40, 99, 95);
  color: rgb(var(--foreground-light-green));
  padding: 1rem 2.5rem;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

button:hover {
  transform: translate(-5px, -5px);
  box-shadow: 4px 4px 0px 0px rgb(var(--foreground-light-green));
  cursor: pointer;
}
