#hero {
  display: flex;
  flex-direction: column;
  height: 80vh;
  gap: 5rem;
  padding: 1rem 0;
}

.intro {
  font-size: 1rem;
}

.name {
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0.5rem 0;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

@media (min-width: 480px) {
  #hero {
    gap: 3rem;
    padding: 1rem 0;
  }

  .intro {
    font-size: 3.8vw;
  }

  .name {
    font-size: 7vw;
    margin: 0.6rem 0;
  }

  .title {
    font-size: 5vw;
    margin-bottom: 2rem;
  }
}
