#hero {
  display: flex;
  flex-direction: column;
  height: 80vh;
  gap: 5rem;
  padding: 1rem 0;
}

.drop {
  display: grid;
}

#drop-cap {
  font-size: 6rem;
  text-transform: uppercase;
  grid-row: 1 / 10;
  grid-column: 1 / 2;
}

.intro {
  font-size: 1.3rem;
  grid-row: 5;
  grid-column: 2 / 10;
}

.name {
  font-size: 2.2rem;
  letter-spacing: 1px;
  font-weight: 500;
  grid-row: 6;
  grid-column: 2 / 10;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
