#hero {
  display: flex;
  flex-direction: column;
  height: 80vh;
  gap: 3rem;
  padding: 1rem 0;
  margin-top: 9rem;

  .intro,
  .name,
  .title {
    font-weight: 500;
  }

  .intro {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .name {
    font-size: 2.6rem;
    letter-spacing: 1px;
  }

  .title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    opacity: 0.7;
  }

  .description {
    max-width: 580px;
    opacity: 0.7;
  }
}

@media (min-width: 480px) {
  #hero {
    gap: 3rem;
    padding-top: 2rem;

    .intro {
      font-size: 1rem;
    }

    .name {
      font-size: 8.5vw;
    }

    .title {
      font-size: 7.5vw;
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: 768px) {
  #hero {
    gap: 3rem;

    .intro {
      font-size: 1.1rem;
    }

    .title {
      font-size: 7vw;
      margin-bottom: 1.5rem;
    }
  }
}

@media (min-width: 1000px) {
  #hero {
    padding-top: 0;

    .intro {
      font-size: 1.1rem;
    }

    .name {
      font-size: 5.5rem;
    }

    .title {
      font-size: 4rem;
      margin-bottom: 2rem;
      margin-top: -0.7rem;
    }
  }
}
