#hero {
  display: flex;
  flex-direction: column;
  height: 80vh;
  gap: 5rem;
  padding: 1rem 0;
}

.drop {
  display: flex;
  gap: 0.5rem;
}

.drop-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

#drop-cap {
  font-size: 6rem;
  text-transform: uppercase;
}

.intro {
  font-size: 1.3rem;
}

.name {
  font-size: 2.2rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
