#contact {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

#contact label {
  display: block;
  margin-bottom: 5px;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

#contact input[type='submit'] {
  width: auto;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
}

#contact input[type='submit']:hover {
  background-color: #ff5722;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border-color: #aaa;
}

#contact .field-long {
  width: 100%;
}

#contact .field-select {
  width: 100%;
}

#contact .field-textarea {
  height: 100px;
}

#contact .field-radio {
  display: inline;
}

#contact input[type='radio'] {
  margin-right: 5px;
}

#contact .field-checkbox {
  margin-top: 5px;
}

#contact input[type='checkbox'] {
  margin-right: 5px;
}


// <form name='contact' id='contact'>
//             <div>
//               <label htmlFor='name'>Name</label>
//               <input type='text' name='name' id='name' />
//             </div>
//             <div>
//               <label htmlFor='email'>Email</label>
//               <input type='email' name='email' id='email' />
//             </div>
//             <div>
//               <label htmlFor='message'>Message</label>
//               <textarea name='message' id='message' rows={5} />
//             </div>
//             <div>
//               <button type='submit'>Send</button>
//             </div>
//           </form>