.other-projects,
.cards {
  display: grid;
  gap: 2rem;
}

.other-projects {
  margin-top: 4rem;
  padding-top: 2rem;
}

.other-projects h3 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center;
}

@media (min-width: 600px) {
  .other-projects .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .other-projects {
    margin-top: 6rem;
  }

  .other-projects h3 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .other-projects .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .other-projects {
    margin-top: 10rem;
  }

  .other-projects h3 {
    font-size: 1.8rem;
  }
}
