.other-projects, .cards {
  display: grid;
  gap: 2rem;
}

.other-projects {
  margin-top: 4rem;
  padding-top: 2rem;
}

.other-projects h3 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center;
}
