#contact {
  text-align: center;
  display: grid;
  gap: 1.6rem;
  max-width: 550px;
  margin: 0 auto;
}

.contact-title {
  display: grid;
  gap: 1.2rem;
  text-transform: capitalize;
}

.contact-title h6 {
  font-size: 0.9rem;
}

.contact-title h3 {
  font-size: 1.8rem;
}

.contact-actions {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .contact-title h3 {
    font-size: 2.2rem;
  }

  #contact .contact-text {
    font-size: 0.9rem;
    line-height: 1.7;
  }
}
