.study-summary {
  display: grid;
  gap: 2rem;
  max-width: 1200px;
  margin: 1rem auto;
  margin-bottom: 4rem;
  padding: 1rem calc(2rem + 5%);

  h3 {
    font-size: 1.8rem;
  }

  .summary-content {
    display: grid;
    grid-template-columns: 2fr 1fr;

    .text {
      width: 80%;
      font-size: 18px;
    }

    .certified {
      width: 100%;
      display: grid;
      place-items: center;

      img {
        width: inherit;
        height: auto;
      }
    }
  }
}

@media (max-width: 900px) {
  .study-summary {
    gap: 3rem;

    .summary-content {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .text {
        width: 100%;
        display: grid;
        gap: 1rem;
      }

      .certified {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
}
