.project-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  border-radius: 8px;
}

.project-img > * {
  border-radius: 8px;
}

.project-info #badge {
  text-transform: capitalize;
  font-size: 0.7rem;
  color: rgb(var(--foreground-light-green));
}

.project-info,
.project-actions {
  padding: 1.6rem 1rem;
  background-color: transparent;
  position: relative;
  z-index: 3;
  background-color: rgba(7, 19, 45, 0.9);
}

.project-info {
  padding-bottom: 1rem;
}

.project-info h3 {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  margin-top: 0.6rem;
}

.project-info .project-description {
  opacity: 0.8;
  font-size: 0.8rem;
  line-height: 1.7;
  margin-top: 1.6rem;
}

.project-info .project-tech {
  text-transform: capitalize;
  opacity: 0.95;
  font-size: 0.85rem;
  margin-top: 2rem;
}

.project-actions {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.projects button {
  padding: 0;
  border: none;
  color: inherit;
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
}

.projects button:hover {
  box-shadow: unset;
  transform: scale(1.15);
  color: rgb(var(--foreground-light-green));
}

@media (min-width: 480px) {
  .project-info,
  .project-actions {
    padding: 1.4rem 2rem;
  }

  .project-actions {
    padding: 0 2rem 2rem;
  }

  .project-info .project-description {
    opacity: 0.9;
    font-size: 0.9rem;
  }

  .project-info .project-tech {
    font-size: 0.9rem;
  }
}
