.project-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  border-radius: 8px;
}

.project-img > * {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-info #badge {
  text-transform: capitalize;
  font-size: 0.9rem;
  color: rgb(var(--foreground-light-green));
}

.project-info,
.project-actions {
  background-color: transparent;
  position: relative;
  z-index: 3;
  background-color: rgba(7, 19, 45, 0.9);
}

.project-info {
  padding: 1.6rem 1.3rem;
}

.project-info h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 1.4rem;
  margin-top: 0.6rem;
}

.project-info .project-description {
  opacity: 0.8;
  line-height: 1.5;
  margin-top: 1.6rem;
}

.project-info .project-tech {
  text-transform: capitalize;
  opacity: 0.95;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.project-tech span {
  margin-right: 0.5rem;
}

.project-actions {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.projects button {
  padding: 0;
  border: none;
  color: inherit;
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
}

.projects button:hover {
  box-shadow: unset;
  transform: scale(1.15);
}

@media (min-width: 480px) {
  .project-info {
    padding: 1.4rem 2rem;
  }

  .project-info h3 {
    font-size: 1.6rem;
  }

  .project-info .project-description {
    opacity: 0.9;
    font-size: 1.1rem;
  }

  .project-info .project-tech {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .project-img {
    position: unset;
    height: auto;
    z-index: 2;
    border-radius: 8px;
    grid-row: 1 / 2;
  }

  .project:nth-child(even) .project-img {
    grid-column: 4 / 8;
  }

  .project:nth-child(odd) .project-img {
    grid-column: 1 / 5;
  }

  .project-img > * {
    width: inherit;
    height: auto;
    filter: sepia(80%) hue-rotate(100deg);
    transition: all 1s ease-in-out;
  }

  .project-img img:hover {
    filter: unset;
  }

  .project-info {
    background-color: transparent;
    grid-row: 1 / 2;
  }

  .project:nth-child(even) .project-info {
    grid-column: 1 / 6;
  }

  .project:nth-child(odd) .project-info {
    grid-column: 3 / 8;
    text-align: right;
  }

  .project:nth-child(odd) .project-actions {
    margin-left: auto;
    width: fit-content;
  }

  .project-info h3 {
    font-size: 1.8rem;
  }

  .project-info .project-description {
    background-color: #112240;
    padding: 1.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    opacity: 1;
  }

  .project-info .project-tech {
    font-size: 0.9rem;
  }

  .project-actions {
    background-color: transparent;
  }
}

@media (min-width: 1080px) {
  .project:nth-child(even) .project-img {
    grid-column: 5 / 11;
  }

  .project:nth-child(odd) .project-img {
    grid-column: 1 / 6;
  }

  .project:nth-child(even) .project-info {
    grid-column: 1 / 6;
  }

  .project:nth-child(odd) .project-info {
    grid-column: 5 / 11;
  }

  .project:nth-child(odd) .project-tech {
    margin-left: auto;
  }

  .project-info .project-tech {
    font-size: 0.8rem;
  }
}
