.projects {
  display: grid;
  gap: 3rem;
}

.project {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 4px rgba(7, 28, 54, 0.826);
  /* border: 1px solid rgba(var(--foreground-light-green), 0.2); */
}
