#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  gap: 4rem;
}

h2 .line {
  height: 1px;
  flex-grow: 1;
  background-color: rgba(var(--foreground-light-green), 0.3);
}

.number {
  color: rgb(var(--foreground-light-green));
}

#about-img {
  width: 100%;
  min-width: 150px;
  max-width: 70%;
  position: relative;
}

#about-img img {
  filter: sepia(80%) hue-rotate(100deg);
}

#about-img #outline {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.7rem;
  border: 1px solid rgba(var(--foreground-light-green), 0.6);
  z-index: -1;
}

#about-img,
#about-img img,
#about-img #outline {
  border-radius: 5px;
}

#about-img img:hover {
  cursor: pointer;
  transform: translate(-5px, -5px);
  filter: unset;
}

@media (min-width: 768px) {
  #about {
    flex-direction: row;
    align-items: flex-start;
  }

  #about-img {
    min-width: 200px;
    max-width: 300px;
  }

  #about-img {
    margin-top: 6rem;
  }
}
